[2018-06-23 12:27] sethetter opened #1 "Basic admin login system"
This will most likely just be for admin purposes for now. Probably want to hide the public registration form, have an `admin` flag on the user so we can control who has access, and a basic admin page that is protected unless logged in as an `admin`.

[2018-06-23 12:29] sethetter opened #2 "Twilio SMS receive endpoint, and message log"
We need an HTTP endpoint for receiving SMS from Twilio. Will also need to be able to store configurable Twilio credentials, and have a model / resource for logging messages. Bonus points for an admin accessible view of all messages in the web UI.

[2018-06-30 10:22] sethetter commented on #2
Closed with 48e11c

[2018-06-30 10:22] #2 closed

[2018-06-30 10:24] sethetter opened #3 "Track subscribers via SMS receive endpoint"
If a person texts the receive endpoint with "SUBSCRIBE" (case-insensitive) then we should store that number as a subscriber, and if they text "STOP" or "UNSUBSCRIBE" then we should mark them as unsubscribed.

[2018-06-30 10:48] sethetter commented on #3
346e938

[2018-06-30 10:48] #3 closed

[2018-06-30 10:51] sethetter opened #4 "Home page design and content"
Something that explains the service and looks decent for now would be awesome. This could include pulling in whatever base layout / color scheme / other design stuff we want to use going forward.

As for content, we could also include some useful links to things like voter registration and any other voting information resources.

Any designers want to make this look nice? Maybe even a Vote ICT log

[2018-06-30 10:54] sethetter opened #5 "Admin can schedule messages to be sent to active subscribers"
We'll need to create a new resource for creating scheduled messages, and an admin only access area for creating them, and lastly a mechanism for processing the scheduled messages every X minutes or something.

Depends on #1.

[2018-06-30 11:17] sethetter commented on #1
9d23c42

[2018-06-30 11:17] #1 closed

[2018-06-30 11:19] sethetter opened #6 "Subscribers can control what categories they are subscribed to"
The plan is to have scheduled messages be tagged with categories like `events`, `important-dates`, `news`, and whatever else we come up with.

We need a way for subscribers to control which of these they are subscribed to via SMS.

What could this flow look like? Maybe trigger the configuration with a keyword message like "TOPICS", then respond with a numbered list of available topics, and then th

[2018-07-01 11:29] #5 closed

[2018-07-01 11:31] sethetter opened #7 "Clickable vcard link on homepage for configured Twilio number"
Having a link (or giant button) on the homepage that will add the configured Twilio number to a person's phone contacts under the "Vote ICT" name would be pretty handy!

[2018-07-01 11:40] sethetter opened #8 "Admin can view send reports for sent scheduled messages"
Once a scheduled message has been processed and sent, it would be nice to have an admin view for seeing who all received the message. We might need to add something to the `Message` model for if it was part of a scheduled message or not, probably as a relationship to `ScheduledMessage`.

[2018-07-01 11:50] sethetter opened #9 "When a person subscribes, provide them with voter registration info/link"
This seems like a very useful thing to do, let's augment the subscribe message to include this.

https://www.vote.org/register-to-vote/kansas/ <-- this one is pretty user friendly!

[2018-07-01 11:51] sethetter opened #10 "Compile useful voting information links for web content"
We can store these on the homepage or wherever, but having some links to quality voter information would be great.

The first one can be a link for getting registered -> https://www.vote.org/register-to-vote/kansas/

Maybe include the Eagle's voter guide? If it's available.

I'm sure the League of Women Voters has some great resources too!

[2018-07-02 11:10] sethetter opened #11 "Admin can view a list of subscribers"
A simple protected admin page for seeing a list of numbers in the subscribers table, and whether they're marked as subscribed or not.

[2018-07-02 11:19] #11 closed

[2018-07-02 15:14] sethetter opened #12 "Internationalization!"
Set up the content throughout the site for i18n. Laravel provides a way to do this -> https://laravel.com/docs/5.6/localization, we just need to set it up properly.

Then if we can get some translations in place, that would be _amazing_!

Also need to think through how an SMS subscriber sets their preferred language. Maybe we can trigger based on the language they send the word "subscribe" in when

[2018-07-02 15:23] sethetter opened #13 "Admin can view all messages to/from a given number"
Could go in the subscriber view, but it would be nice to be able to see a log of all messages between the system and a particular phone number.

[2018-07-03 12:07] #12 closed

[2018-07-03 12:13] sethetter opened #15 "Spanish translations, and SMS flow for setting language preference"
With #12 we have the foundations for i18n'd strings throughout the application, now we need to lock down the general messaging and get Spanish translations.

There's also a UX piece to think through -- how do we tell subscribers they can change their language preference, and then how do we do that?

Some options..

1. Tell the user after first subscribing that they can text "Spanish" or "English"

[2018-07-03 12:46] sethetter opened #16 "Tests! We need some tests"
I think doing primarily HTTP feature tests would be great, if nothing else, on the TwilioController smsReceive method -> https://laravel.com/docs/5.6/http-tests

[2018-07-03 12:47] sethetter commented on #9
670995c

[2018-07-03 12:47] #9 closed

[2018-07-03 12:48] sethetter commented on #7
Right now there is a `tel:` link that gets us most of the way there, but an actual vcard file would be even more useful (right? If not, I'm open to suggestions!)

[2018-07-04 03:19] imacrayon commented on #16
I'll jump on this if you haven't started yet

[2018-07-04 12:42] sethetter commented on #16
@imacrayon I have! But there's more coverage we could use. The main thing is testing scheduled messages being sent at the right time to the right people. I have subscribe/unsubscribe tests and admin creating scheduled messages so far.

[2018-07-04 15:34] sethetter commented on #16
@imacrayon I merged and pushed what I had so far. I'd be curious to hear if the patterns I followed here are what you might recommend, I think you spend more time in Laravel than I do :)

[2018-07-04 16:32] #7 closed

[2018-07-04 16:33] sethetter commented on #4
I think @kentonh is going to do this.

[2018-07-05 14:17] imacrayon commented on #16
@sethetter Usually I'll add a few tests to make sure that normal users or unauthenticated users can't access admin pages/routes but other than that your approach is really close to mine. I have a few helper methods I like to add to my projects just to simplify the redundant stuff, like signing in a user and creating models, I'll show you in #19.

[2018-07-07 14:38] #13 closed

[2018-07-07 15:31] #8 closed

[2018-07-08 14:53] jakesuellentrop commented on #4
I'll work on this!

[2018-07-08 16:04] imacrayon commented on #4
@seth is @kenton for sure doing this? If so @jake would you want to tag team issue #6 with me over slack?

[2018-07-08 16:28] kentonh commented on #4
@imacrayon I’m going to write some copy at some point soon. Feel free to run with this now, however

[2018-07-08 20:36] jakesuellentrop commented on #4
@imacrayon Sounds good to me

[2018-07-12 12:31] imacrayon commented on #15
You could sent the “register to vote” message in all supported languages, prefixed with a number, and then then print them to pick their preferred language? This could be kind of spammy if there are a bunch of languages though

[2018-07-13 12:14] imacrayon commented on #15
@sethetter I like two as well. So will the schedules messages need to be translated too? Would we use a service to do that or does there need to be both a “Spanish” and “English” field in the UI when creating a new scheduled message?

[2018-07-13 13:36] sethetter commented on #15
@imacrayon what if the form shows a text area for each language, but there's a button to fetch a translation to populate the Spanish field with?

[2018-07-13 13:37] sethetter commented on #15
Or if they leave it blank when creating, we can populate it using the translate service

[2018-07-17 03:47] jakesuellentrop commented on #10
I'll incorporate some of this into the homepage as I'm working on it

[2018-07-23 23:08] doshitan commented on #10
https://www.vote411.org/ provides a ton of info, including [voting guides](https://www.vote411.org/ballot) with candidate positions and stuff all in one place. They also have a registration form, but https://ksvotes.org/ might be an easier site for that.

Could also provide a link to the [official state online registration portal](https://www.kdor.ks.gov/Apps/VoterReg/Default.aspx) and [voter info

[2018-07-24 13:39] doshitan commented on #10
Oh, and here's the [Eagle's voting guide](http://c3.thevoterguide.org/v/wichita18/m/build.do#).

[2018-09-01 16:41] sethetter commented on #15
I think this is fixed by #22, and I added some translations in 6721af8. I'm going to open another ticket for letting scheduled messages be provided with a spanish translation,.

[2018-09-01 16:41] #15 closed

[2018-09-01 16:42] sethetter commented on #4
Made some progress on this in 6721af8. It's currently deployed at voteict.org. Very basic stuff, but something at least :)

[2018-09-01 16:43] sethetter opened #25 "Scheduled Messages send Spanish version to subscribers with locale set to "es""
Needs some interface for providing both version. Google translate integration would be awesome too, at least to just autofill if missing or something.

[2018-09-01 18:21] sethetter opened #26 "Send scheduled messages to a Twitter account, if configured"
We have the @voteict twitter account, let's use it!

[2018-09-01 19:48] sethetter opened #27 ""Feed" page with a list of previously sent messages"
Would this be helpful? I think it gives people a chance to see what sort of messages they'll be receiving, and also just gives another place for the information to be found.

[2018-09-11 02:22] sethetter opened #28 "Look into web push notifications"
As an alternative to getting SMS reminders. Probably not necessary, but if we're looking for a fun new technology to play with, I'd be down to explore it :)

[2018-10-13 13:07] sethetter opened #29 "Set up health monitoring"
Since people are using this service now, let's make sure it stay up and functional :)

[2018-10-28 13:29] sethetter opened #33 "Set up CI, auto run tests at least"

[2018-10-28 15:31] sethetter commented on #33
Fixed by #35

[2018-10-28 15:31] #33 closed

[2018-10-28 15:32] sethetter commented on #29
Set up a very basic pinging service, uptimerobot.com

[2018-10-28 15:32] #29 closed

[2018-10-29 02:45] #27 closed

[2018-11-05 15:14] sethetter opened #38 "Make links clickable in archive page"
Right now the archive page links are not automatically formatted into `<a>` tags. It would be great if they were :)

[2019-07-22 16:12] #25 closed

[2019-07-22 20:49] sethetter opened #41 "Allow subscribers to switch their locale with keywords"
This could be as simple as augmenting the subscription code to look for a couple new keywords in each locale and "resubscribe" them as the new locale.

Once this is done we'll send a message to existing subscribers that they can switch their locale if they wish!

[2019-07-22 22:42] imacrayon commented on #41
We should probably note this on the homepage too

[2019-07-23 01:14] #38 closed

[2019-07-23 16:23] imacrayon commented on #26
A quick search looks like https://github.com/thujohn/twitter is a popular Laravel wrapper for the Twitter API

[2019-07-27 01:28] sethetter opened #43 "Tests for SMS flows"

[2019-07-27 12:50] sethetter opened #45 "Spanish body auto translates from Google Translate"
Now that we have a field in ScheduledMessages for a Spanish translation, it would be nice to have a UI piece that can translate the English test through Google Translate!

We would need an API endpoint to pass the data through, and some Vue code to use that endpoint to show the result on the page. By doing that, the user can choose to copy/paste it into the Spanish box, instead of it potentially c

[2019-07-28 12:26] #41 closed

[2019-07-28 16:49] sethetter commented on #26
I'm doing this one next!

[2019-07-28 16:49] sethetter commented on #26
One thing I'm curious about is possible configuring a twitter account for each locale?

[2019-07-28 17:00] imacrayon commented on #26
Here's an example of using multiple accounts set in `/config/services` https://github.com/spatie/scheduled-tweets-app/blob/1bb52d3a02c9cd07f1d4c0ae86d88705038daa59/app/Services/Twitter/RealTwitter.php This might be a good class to steal

[2019-08-06 16:57] sethetter opened #47 "Show total subscribers on the subscribers page"

[2019-08-06 16:59] sethetter opened #48 "Admin homepage shows useful stats"
Ideas
- Total subscribers
- New subscribers in last 30 days / 1 week / whatever
- Messages sent (in last X days)
- Locale splits

[2019-08-09 14:52] sethetter opened #49 "Admin calendar view for scheduled messages"

[2019-08-09 15:01] sethetter opened #50 "Allow messages to go to only specific locales"

[2019-08-09 15:16] sethetter opened #51 "Investigate messages getting broken up"
It sounds like certain carriers result in the messages received being broken up, even if the message is short. Let's figure out how to prevent that!

[2019-08-09 15:23] imacrayon commented on #51
Here's what I got from Sprint:
![IMG_3185](https://user-images.githubusercontent.com/3410149/62789857-722aad80-ba8f-11e9-9b1e-e4e3d76804c0.PNG)

Looks like they're consistently broken up into 153 character chunks. I'm not sure what happened with that message on Monday though.

[2019-08-09 15:32] sethetter commented on #51
Sounds like  sprint is a consistent problem! I've heard the same from Sarah Jane at KMUW.

[2019-08-10 02:47] kentonh commented on #51
[SMS messages are limited to 160 characters](https://www.twilio.com/docs/glossary/what-sms-character-limit), and it looks like the carrier breaks up messages that are too big according to arbitrary guidelines of pagination or other information.

I'm not positive, but based on the archive the Monday message might have had some character returns in the message that confused the carriers more.

Limit

[2019-08-10 02:50] kentonh commented on #50
As a Subscriber, I can enter my location.
As a Sender, I can send or schedule a message to one or many locations.

What designates a location? Zip Code? Do we need an API to (gismaps)[http://gismaps.wichita.gov/Council%20District%20Checker/]?

[2019-08-10 02:58] kentonh commented on #49
@sethetter What's the upward limit of how many messages would be sent on a given day?

[2019-08-10 03:03] sethetter commented on #50
Locale = language in this case, the discussion was around being able to inform Spanish-speaking subscribers about events specifically for Spanish speaking individuals.

A subscriber's locale currently is controlled by which trigger (subscribe/unsubscribe) word they use, and which locale it's mapped to. If they send one that isn't for the locale they are currently set to, we switch it to the new on

[2019-08-10 03:04] sethetter commented on #49
There's been plenty of talk about making sure we don't send too many messages and risk unsubscribes, so I would say no more than 1 message x # of active subscribers (right now we're at about 115, but obviously would love to see that number in the thousands).

[2019-08-10 03:05] sethetter commented on #49
Wait, for the calendar view, number of subscribers doesn't matter. So yes, I think 1 is typically a max, but I could see there being maybe 3 or so on an actual election day? I think going beyond that might start getting to be too much for people.

[2019-08-16 13:36] mikebellwethr opened #52 "Audio Queries"
Hi all,
I'm new to this project but I talked to Seth yesterday and had a couple thoughts. Is there a way to query information? From what I understand the app will push info out. The original thought was that we could tie in Alexa/Siri, asking 'Who's my rep' etc., but talking to Seth I don't think that would be possible at this time.

[2019-08-16 14:12] jakesuellentrop commented on #52
Why were you thinking it's not possible? We could tie in this api:
https://developers.google.com/civic-information/docs/v2/

and expose it via a Laravel API we create. Then once the end user enabled the VoteICT skill, it would just query our VoteICT API for the information.

Seems fairly simple. (Have experience building skills. They're fun!)

[2019-08-16 14:18] mikebellwethr commented on #52
Jake, I am far from a developer. But that sounds super cool =)

[2019-08-16 14:20] jakesuellentrop commented on #52
No worries! Glad to have some outside perspective. I hadn't even thought of a smart speaker app. Such a great idea!

[2019-08-19 03:25] itsmebennyb opened #53 "Front-end enhancements with TailwindCSS"
Looking to jump in and help with some front-end if needed!

Specifically, I would love to start by making the landing page more information-rich, helpful to new/interested users, and simply more interesting to look at.

I have an interest in learning [TailwindCSS](https://tailwindcss.com/) and this would be a great reason to dive in. (@imacrayon mentioned that the site is currently using Bootstrap

[2019-08-19 13:44] imacrayon commented on #53
I'm up for this if it means everything gets a cool new coat of paint. Some more input from others would be helpful in deciding if switching frameworks is a good idea though.

[2019-08-19 23:47] ccwoolfolk opened #54 "Show numbers in addition to "ICT-VOTE""
<img width="750" alt="Screenshot 2019-08-19 18 40 10" src="https://user-images.githubusercontent.com/20022270/63306586-cc5a1880-c2b0-11e9-832f-97afd632ceb6.png">

There isn't an easy way to map from phone number letters to numbers in my phone's text message input. I suspect others' phones have the same issue. It may be worth adding the numerical equivalent after or below "ICT-VOTE".

Browser compa

[2019-08-20 05:03] blunket commented on #54
This repo seems worth sharing: https://github.com/smeeckaert/sms-link - I don't know if this repo is still maintained but we might learn something from it.

That's a great idea, I think.

[2019-09-11 17:55] itsmebennyb commented on #53
**Boosting the signal on this issue!** 📡

I'm hoping to help make some homepage improvements in time for this Fall's mayoral election, but that's approaching quickly.

Is there anyone else we can bring to the conversation to reach a yes/no on this? @sethetter @imacrayon

[2019-09-11 18:21] imacrayon commented on #53
I think @jakesuellentrop did some front-end work on here at one point

[2019-09-21 01:42] sethetter commented on #53
I approve of this! I'm largely _not_ great at anything CSS related, so if you all are willing to take ownership of this transition, it's all good with me!

[2019-09-21 01:43] sethetter commented on #52
This is an awesome idea! +1 for the google civic info API. I've worked with it a little before and it wasn't difficult to use!

[2019-09-21 14:09] imacrayon opened #55 "Allow sending test messages"
Provide a form where admins can send a test message to a single phone #. I could see this being helpful on the same page where you draft messages so that the writer could send a test and get a real idea of how their message will be formatted on certain phones before scheduling it.

[2019-10-02 02:28] JustinDDavis commented on #54
If this issue is still up for grabs, I'd be interested in trying to take it on.

[2019-10-02 12:07] imacrayon commented on #54
@justinDDavis I’d say go for it

[2019-10-07 12:21] #48 closed

[2019-10-08 01:30] #26 closed

[2019-10-08 01:32] sethetter opened #61 "Set up for hosting on devICT dev-server"
Should allow some cost cutting, heroku is expensive!

We now have a [devICT dev server](https://github.com/devict/dev-server/) set up to run multiple projects. With this project dockerized, we can run it on that system as well and save some 💰

[2019-10-08 01:34] sethetter opened #62 "Choose whether messages go to Twitter, SMS, or both"
Define "targets" for a message, which right now are just Twitter or SMS. Have check boxes on the schedule message form (edit and create). Default to both on. Validate that at least one is checked.

[2019-10-15 00:06] ccwoolfolk commented on #54
@JustinDDavis Just tried this out -- works great for me! Thanks!

@sethetter Closing this out due to #59.

[2019-10-15 00:06] #54 closed

[2019-10-18 02:28] JustinDDavis commented on #62
I'd interested in picking this up.

[2019-10-18 02:29] sethetter commented on #62
@JustinDDavis it's all yours! Greatly appreciated.

[2019-10-19 16:23] JustinDDavis commented on #62
@sethetter, what are your thoughts on the design for storing the target selection in the database? Should there only be a single "target" in the database and we filter out what is sent in the command? Or should there be "target_sms" and "target_twitter" entries to track where messages are needing to go?

[2019-10-19 16:30] sethetter commented on #62
@JustinDDavis I think the latter makes the most sense, that way messages can go to both of wanted. Default both to true probably?

[2019-10-19 23:11] tylerwoonton commented on #47
👋 I'd like to take this one - possibly another one afterwards too.

[2019-10-19 23:16] sethetter opened #63 "Supporters page"
Pull in contributors from GitHub, and list organizational sponsors.

[2019-10-21 16:06] imacrayon commented on #63
@sethetter we'll include this with the new homepage redesign. Should have it close to complete by the end of this week 🤞

[2019-10-28 21:33] cjprieb commented on #10
I'm going to attempt this issue for hacktoberfest. I haven't used Laravel before, so the first step will be getting a working local version of the site.

[2019-10-30 02:45] sethetter commented on #10
@cjprieb feel free to ping me on Slack if you have any issues getting up and running!

[2019-10-30 17:51] #53 closed

[2019-10-30 18:01] sethetter commented on #63
Closed by #57

[2019-10-30 18:01] #63 closed

[2019-10-30 18:02] sethetter opened #67 "Character count doesn't update on page load"

[2019-10-30 18:02] sethetter opened #68 "Social sharing images"

[2019-10-30 19:10] sethetter opened #69 "Pagination for subscribers and scheduled messages pages"

[2019-10-30 21:21] blunket opened #71 "Archive Page: Pagination Broken"
Seems like by default, Laravel's pagination is set up to work magically with Bootstrap:

https://laravel.com/docs/5.8/pagination

But we're not using Bootstrap anymore with #57 so the pagination has broken on the archive page (screenshot):
![image](https://user-images.githubusercontent.com/17580512/67899682-d27e3800-fb30-11e9-8791-7526ee128e42.png)

It looks like there's a very simple pagination m

[2019-10-31 03:43] imacrayon commented on #71
Good catch! [This gist](https://gist.github.com/mazedlx/86512703b1dbcb987b2815c31e5173a3) might be useful as a guide for building out the pagination view template, I'll leave the rest up to you.

[2019-11-08 06:40] blunket commented on #71
I'm sorry, I don't actually think I have the time to figure out the dev setup currently.

[2019-11-14 18:00] imacrayon commented on #71
Fixed in 79d80bb6c41c90539ef50e3748c877a9026b2ff0

[2019-11-14 18:00] #71 closed

[2020-02-13 17:58] imacrayon commented on #68
Fixed in 3b322b25d8f2359d15923c6aa40933bcfe0ba34e

[2020-02-13 17:58] #68 closed

[2020-02-13 18:01] imacrayon commented on #69
Fixed in 79d80bb6c41c90539ef50e3748c877a9026b2ff0

[2020-02-13 18:01] #69 closed

[2020-02-13 18:12] imacrayon commented on #51
I’ve got a plan to develop some kind of UI that will show where messages might break, something similar to this: http://chadselph.github.io/smssplit/

[2020-02-22 15:22] imacrayon opened #78 "Upgrade to Laravel 6"
https://laravel.com/docs/5.8/upgrade
https://laravel.com/docs/6.x/upgrade

[2020-02-22 15:23] imacrayon commented on #78
Laravel 7 is set to release next month

[2020-02-27 13:41] sethetter commented on #78
@imacrayon Just came here to file this issue, glad you're on top of it! 🎉

[2020-02-29 18:44] itsmebennyb commented on #10
Here's a design for the Resources page: https://www.figma.com/file/JylHAXhf1n9urWfOs9WgZ6/VoteICT.org?node-id=179%3A0

[2020-02-29 19:11] sethetter commented on #62
Closed by #65!

[2020-02-29 19:11] #62 closed

[2020-02-29 20:37] MrsJaw opened #81 "Who's my rep feature"
Feature to allow someone to ask for name and contact information for their representatives.

[2020-03-03 21:03] sethetter opened #83 "Link to GitHub (issues?) on homepage"
Let's welcome collaboration by linking to the GH issues page on the voteict.org site!

[2020-03-10 15:01] #47 closed

[2020-07-03 04:05] jakesuellentrop commented on #81
I've got a start on this. Pulling in data from Google's Civic Information API. Still a few fields to bring in, and need to make it prettier, but I've got data on the page.

<img width="1750" alt="Screen Shot 2020-07-02 at 11 04 41 PM" src="https://user-images.githubusercontent.com/10038145/86430638-6b64e480-bcb8-11ea-9d6f-09a6e9b7e6f1.png">

[2020-07-03 15:56] #81 closed

[2020-07-04 00:53] #78 closed

[2020-07-04 14:54] #67 closed

[2020-07-04 16:18] #4 closed

[2020-07-04 16:19] #10 closed

[2020-07-07 01:27] sethetter opened #91 "Rebranding to VoteLocal"
With recent updates in #88, the system now has the ability to tag messages for specific locations, and subscribers can choose what locations to receive information for. This allows us to send hyper-local focused content while also expanding the potential geographic relevance of the content.

As part of this effort, we're also rebranding the project as VoteLocal. This will involve a few things, her

[2020-07-07 04:39] imacrayon commented on #91
Seems good to me. Were you going to put the new site on the Digital Ocean server?

Maybe we should make each of these items an issue and toss them up on a project board?

[2020-07-12 20:05] sethetter commented on #91
Since VoteICT is becoming Vote Local, we need a new domain! I've snagged a few, and curious what people's thoughts are on..

1. votelocalks.org
2. ks.votinglocal.org
3. ks.votelocal.in

Other variants on 2 and 3 are also on the table. I also own votelocal.dev, so that's neat. Seeing possible futures where there are instances of this system run by other people in other communities and votelocal.in

[2020-07-12 20:09] jakesuellentrop commented on #91
I'm definitely a fan of the more generic domain, with a locale subdomain

[2020-07-12 20:34] sethetter commented on #91
@jakesuellentrop awesome thanks for chiming in! Sorry I didn't tag you in the post >_<

I'm leaning that direction too. I think mostly leaning towards 2, but the name difference is throwing me off.

I just snagged votelocal.io, so ks.votelocal.io is an option! I think that's probably my strongest preference now.

[2020-07-12 21:04] imacrayon commented on #91
I'm a fan of the subdomains too. I'm not sure which one I like best though. I know people generally struggle with the newer `.io` & `in` domains. I like the way the `.org` domain reads left-to-right but `voting` instead of `vote` in there could possibly trip people up.

[2020-07-12 22:54] jakesuellentrop commented on #91
@sethetter no worries!

I actually looked up votelocal.io, glad you snagged it. The `.org` is obviously more familiar to people than `.io`, but I really like how `votelocal` reads vs `votinglocal`.

[2020-07-12 23:07] sethetter commented on #91
What if we go with the name Voting Local instead of Vote Local? Then use votinglocal.org?

[2020-07-13 02:29] sethetter commented on #91
Bleh scratch that, I'm not a fan of Voting Local, Vote Local definitely does sound better.

I'm thinking votelocalks.org might be the best bet -- it's the easiest to vocalize, and KMUW will be advertising it on air.

If, in the future, there are other instances of this run in other areas, we could use the `votelocal.in` (or io) domain to host a page pointing to all the different instances. I have

[2020-07-13 02:31] jakesuellentrop commented on #91
I'm on board

[2020-07-13 17:56] sethetter opened #94 "Feature: Pledging to vote"
**Goal**: Add a simple new feature to Vote Local that helps encourage people to vote in November by asking them to pledge, and to encourage others to pledge. Subscribers who pledge will receive a personal referral link that will track the number of people they get to subscribe and pledge. Those who pledge, and who get the highest number of pledges, will be celebrated on a "hall of fame" type page,

[2020-07-14 02:54] sethetter opened #95 "Launch instance at new domain"
- [x] Launch parallel site at votelocalks.org on devICT server.
- [x] Configure cron job for db backup on the server.
- [x] Configure cron job for running laravel scheduled jobs checking.
- [x] Test all functionality.
- [x] Wipe data clean for data migration.

[2020-07-14 03:02] sethetter commented on #61
This is happening as part of #95

[2020-07-14 03:02] #61 closed

[2020-07-14 03:03] sethetter commented on #6
Oh hey this is done now :D

[2020-07-14 03:03] #6 closed

[2020-07-14 03:04] sethetter opened #96 "Update language preference from subscriber page"
Also set the app locale to subscriber's locale when logged in.

[2020-07-24 01:43] sethetter commented on #95
This is done! Everything is live at votelocalks.org now :D

[2020-07-24 01:43] #95 closed

[2020-07-24 02:01] sethetter commented on #16
I'm going to close this issue out and open a new one to capture some feature testing that needs covered now with all our new functionality in place. It's a shame when tests come _after_ the features, but it is what it is :)

[2020-07-24 02:02] #16 closed

[2020-07-24 02:06] sethetter opened #99 "Admin visibility into subscriber tags."
The current admin dashboard provides no information on the tags that subscribers are subscribed to.

A couple ideas.

1. Tags page shows the number of subscribers and messages tagged with the tag.
1. Subscriber show page shows the tags the subscriber is subscribed to.

Anything else?

[2020-07-24 02:10] sethetter opened #100 "Feature tests, anything currently missing."
What are some feature tests we're missing currently?

*Subscriber web UI.*
- [ ] Subscriber web login, new and existing subscribers.
- [ ] Subscriber tag editing.
- [ ] Messages only go to subscribers with proper tags.
- [ ] Enabling/disabling subscription from web UI.

*Admin UI.*
- [ ] ...?

Surely there's more!

[2020-07-27 17:20] imacrayon opened #102 "Add Digital Ocean to sponors"
We should include the Digital Ocean logo somewhere. In in our list of partners on the homepage or in the footer maybe?

[2020-07-30 01:21] sethetter commented on #102
Good idea! Maybe they'll renew our credits then, haha.

[2020-07-30 01:39] sethetter opened #103 "Sanitize message content to stay GSM compliant"
There is a [Twilio doc](https://www.twilio.com/docs/glossary/what-is-gsm-7-character-encoding) that mentions GSM encoded messages are restricted to a limited set of characters. Ensuring our messages are GSM encoded is ideal because it prevents message segmenting as mentioned in #51

We should implement some message content sanitation to convert certain characters where possible!

[2020-07-30 01:39] sethetter commented on #51
Reading up on this more and it looks like there are few things that can trigger a message getting split into segments. One of them is length, the other is using non-GSM supported characters, and apparently the most common offenders are the fancy smart quotes that a lot of computers substitute in for regular quote marks!

I filed #103 as a result.

[2020-07-30 01:41] sethetter opened #104 "Messages over 160 characters should get warning"
These messages will be segmented by Twilio, which results in some extra charges and a higher potential of error. We should warn in the message editing interface when this is the case.

[2020-08-06 19:40] ph-rudolph opened #106 "Modify links on Voting Resources page to open in a new tab"
Perhaps we can make the links to voting resource pages open in a new tab instead of redirecting away from votelocalks.org.

People may want to view the other resources or return to the homepage or sign into their subscriber profiles.

Let me know if and how I can be of help. I don't know PHP, but I don't imagine it's a hard fix.

Paul

[2020-09-04 01:42] sethetter opened #109 "Send welcome message to new subscribers"
Also send one when a subscriber re-subscribes?

[2020-09-04 01:42] #94 closed

[2020-09-04 01:44] #91 closed

[2020-09-04 01:44] #50 closed

[2020-09-04 01:45] sethetter opened #110 "Pledge leaderboard, and progress page"

[2020-09-04 02:14] sethetter opened #111 "Produce a list of all missing Spanish translations"

[2020-09-14 21:39] ph-rudolph opened #113 "Send a text notification when a subscriber refers someone else to the pledge."
Something like: "You referred another Voter of the Plains to take the pledge! That makes ##, keep up the good work!"

End with a click here link to "brag" about their number of referrals on social media?

[2020-09-28 02:16] sethetter commented on #110
Done by @imacrayon! Thanks :D

[2020-09-28 02:16] #110 closed

[2020-09-30 18:12] imacrayon opened #114 "Duplicate message, out of order"
This could be related to #103 or #104 but I got duplicate messages today that were received out of order.  My carrier is T-Mobile/Sprint.

![C790AAE2-A79E-4756-A274-3B0E6CCC883D](https://user-images.githubusercontent.com/3410149/94723488-70b8e600-031e-11eb-9ec4-7bf7c15195e3.png)

[2020-10-01 02:14] imacrayon commented on #114
Fixed in 28a38ae2298f993db933778d17333653be48f395

[2020-10-01 02:14] #114 closed

[2020-10-01 02:21] sethetter commented on #103
There's a tool to see if a message will be GSM compliant or not!

https://twiliodeved.github.io/message-segment-calculator/

[2020-10-01 17:00] #103 closed

[2020-10-01 19:47] owerg opened #116 "make dev-setup fails to run properly"
I am trying to set up the dev environment for the first time.  I am sure I just have something set up incorrectly, but the instructions don't give me any clues what I've done wrong.  Here is what I'm seeing for the output:

[code]

[2020-10-01 21:05] sethetter commented on #116
I think you need to run `make dev` running for that to work so the database is up and ready to receive migrations. Give that a shot and let me know!

[2020-10-01 22:23] owerg commented on #116
No luck. I may have to wipe it all out and try again from scratch tomorrow.

On Thu, Oct 1, 2020, 4:05 PM Seth Etter <notifications@github.com> wrote:

[2020-10-01 22:26] sethetter commented on #116
@owerg dang. Can you share your `.env`, `.my.cnf` and `.db.env` files? (A lot of secret files I know 😭)

[2020-10-02 00:11] owerg commented on #116
Well that's maybe where I messed up. I just did a cp of the 3 example files
from the initial git clone. So those 3 files are identical to mine.

On Thu, Oct 1, 2020, 5:26 PM Seth Etter <notifications@github.com> wrote:

[2020-10-02 00:31] sethetter commented on #116
@owerg did you copy the docker versions of the examples? The .env specifically has one I think.

[2020-10-02 17:26] owerg commented on #116
It looks like I did grab the docker versions:
[code]
The `.db.env` and `.my.cnf` files still match the example versions.  `.env` somehow has an updated APP_KEY:
[code]

[2020-10-02 19:01] owerg commented on #116
I cleaned things up and started fresh via:
[code]

From here, I tried doing a couple things in parallel:
Window 1: `make dev`
Window 1: Wait until webpack.Progress reached 100%
(See attached 1_make_dev.txt -- this is everything prior to the Ctrl+C near the end)
Window 2: `make dev-setup`
(See attached 2_make_dev_setup.txt -- you can see it fail with `SQLSTATE[HY000] [2002] Connection timed out`)
W

[2020-10-03 00:22] sethetter commented on #116
@owerg I'm curious where the issue is so I can get it added to the README and hopefully help others who may be running into this issue. I'm going to try and recreate locally now, and we'll go from there. I'll keep you posted!

[2020-10-03 00:24] sethetter commented on #116
@owerg what OS are you operating on?

[2020-10-03 00:27] sethetter commented on #116
Good news! I'm standing things up from scratch and seeing the same issue. Once I get it worked out I'll update the README and report back.

[2020-10-03 01:34] sethetter commented on #116
@owerg I think I have the issue fixed! Pull down the latest master.

The issue was that the `.my.cnf` file wasn't allowing mysql client connections. It was left over from some fiddling I was doing awhile back and turns out to not be necessary anymore.

Let me know if that solves the problem!

[code]

Then `make db-migrate && make db-seed` in another terminal. The other `dev-setup` tasks should alr

[2020-10-03 01:41] sethetter commented on #106
Done with #117, thanks @aleczzzzz!

[2020-10-03 01:41] #106 closed

[2020-10-03 11:20] owerg commented on #116
Much better this time! Everything appears to have worked and come up.  I'm seeing the attached error when I open localhost:8002 in a browser, though.
![error](https://user-images.githubusercontent.com/23110954/94990283-81e13d00-0540-11eb-8d48-b9f8c7d4eb2d.png)

[2020-10-03 12:04] sethetter commented on #116
Can you check existence and permissions for `storage/logs/laravel.log`?

[2020-10-03 14:52] nightphobos commented on #102
Hi! I didn't see footer on homepage, ad I understand - you want to add DigitalOcean logo to this list on first page?
<img width="778" alt="Снимок экрана 2020-10-03 в 17 50 01" src="https://user-images.githubusercontent.com/4353291/94994553-006dc700-05a1-11eb-80fb-4f4e77ede059.png">
If I understand the issue correctly - can I fix it?

[2020-10-03 16:53] nightphobos commented on #102
<img width="793" alt="Снимок экрана 2020-10-03 в 19 38 36" src="https://user-images.githubusercontent.com/4353291/94997149-0a4bf600-05b2-11eb-8f0f-3693032397e9.png">

[2020-10-04 10:41] nightphobos commented on #111
Can you please provide some more detailed description of this issue?

[2020-10-04 13:32] owerg commented on #116
It is present and owned by root:root with 644 (RW/R/R) permissions.

[2020-10-04 13:38] owerg commented on #116
If I chmod it to 666, it gets farther, but I run into other issues.  Probably permission related as well?

![error2](https://user-images.githubusercontent.com/23110954/95017091-c3471a80-061c-11eb-94d7-1740acba35da.png)

[2020-10-04 14:27] sethetter commented on #116
I've never seen that one 😬 looks like a failure to write to the file? Maybe there are other files failing?

[2020-10-04 15:52] imacrayon commented on #116
I haven't run into that either. You might double check that _all_ of `storage` and `bootstrap/cache` are writable.

[2020-10-05 03:28] sethetter commented on #111
@nightphobos the spanish translations throughout the UI are stored in `resources/lang/es.json`, and are used in the view files with `@lang` directives. There are a number of missing translations from recent work. The goal is to compile that list to be sent to our translation partner.

I actually have started on this task and did not assign it as such :( sorry about that!

[2020-10-05 03:40] sethetter commented on #111
Here is the list

[code]

I've sent these to our translation partner, and will have a PR up with the translations once they're received.

[2020-10-05 13:39] owerg commented on #116
I think that was the issue.  I'm running docker as a regular user that belongs to the docker group.  It looks like storage and bootstrap belong to the user with 755 permissions and then some root:root files are peppered in underneath there.

As the regular user I went ahead and did:
[code]

It looks like things are up and running now. There are some new files that belong to www-data:www-data in st

[2020-10-05 17:18] sethetter opened #120 "Spanish support for tags"

[2020-10-05 21:44] owerg commented on #116
I updated the DOCKER.md file with a couple more details based on what I found from here:
https://stackoverflow.com/questions/30639174/how-to-set-up-file-permissions-for-laravel

[2020-10-05 23:43] #116 closed

[2020-10-06 02:09] #111 closed

[2020-10-08 19:58] #102 closed

[2020-10-09 14:24] sethetter commented on #83
Closed by #98

[2020-10-09 14:24] #83 closed

[2020-10-10 21:26] imacrayon commented on #109
Any ideas what this message should say?

[2020-10-17 03:20] #49 closed

[2020-10-17 03:24] sethetter commented on #109
I think the goal is just to confirm access, and let the user know the number the messages are going to come from? Maybe something like "You're subscribed to Vote Local! Save this number, and thanks for being engaged."

Thoughts?

[2020-10-23 02:27] #96 closed

[2020-11-03 03:43] #99 closed